<apex:page showHeader="false" sidebar="false" docType="html-5.0" controller="CartController">
    <html>

    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

        <title>Cart - Nature's Select</title>
        <c:WebsiteCSS />
        <style>
            @font-face {
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-style: italic;
                font-display: swap;


            }

            @font-face {
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                font-style: normal;
                font-display: swap;


            }


            @font-face {
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-style: normal;
                font-display: swap;


            }

            @font-face {
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                font-style: italic;
                font-display: swap;


            }

            @font-face {
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-style: italic;
                font-display: swap;


            }


            main body,
            main input,
            main textarea,
            main button,
            main select {
                -webkit-font-smoothing: antialiased;
                -webkit-text-size-adjust: 100%;
                text-rendering: optimizeSpeed;
                font-family: var(--typeBasePrimary), var(--typeBaseFallback) !important;
                font-size: calc(var(--typeBaseSize) * 0.85) !important;
                font-weight: var(--typeBaseWeight) !important;
                font-style: var(--typeBaseStyle) !important;
                letter-spacing: var(--typeBaseSpacing);
                line-height: var(--typeBaseLineHeight);
            }

            @media only screen and (min-width: 769px) {
                main body,
                main input,
                main textarea,
                main button,
                main select {
                    font-size: var(--typeBaseSize);
                }
            }

            main .page-container {
                display: none;
            }

            main h1,
            main .h1,
            main h3,
            main .h3,
            main h4,
            main .h4,
            main h5,
            main .h5,
            main h6,
            main .h6,
            .section-header__title,
            .spr-header-title.spr-header-title {
                font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback) !important;
                font-weight: var(--typeHeaderWeight) !important;
                font-style: normal !important;
                letter-spacing: var(--typeHeaderSpacing) !important;
                line-height: var(--typeHeaderLineHeight) !important;
                word-break: break-word;


                text-transform: uppercase;

            }

            main h2,
            main .h2 {
                font-family: var(--typeBasePrimary), var(--typeBaseFallback) !important;
                font-weight: var(--typeBaseWeight) !important;
                letter-spacing: var(--typeBaseSpacing) !important;
                line-height: var(--typeBaseLineHeight) !important;
            }


            @keyframes pulse-fade {
                0% {
                    opacity: 0;
                }
                50% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                }
            }

               .splash-screen {
                box-sizing: border-box;
                display: flex;
                position: fixed;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                align-items: center;
                justify-content: center;
                z-index: 10001;
                background-color: #ffffff;
            }

            .splash-screen__loader {
                max-width: 100px;
               
            }

            @media only screen and (min-width: 769px) {
                .splash-screen__loader {
              
                    max-width: 100px;
                }
            }

            .splash-screen img {
                display: block;
                max-width: 100%;
                border: 0 none;
                align:center;
                animation: pulse-fade 0.4s infinite linear;
            }

            .loader-text {
                letter-spacing: 0.2em;
                font-size: 1.5em;
                text-transform: uppercase;
                animation: pulse-fade 0.4s infinite linear;
            }

            .loader-logo {
                display: none;
                position: fixed;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                align-items: center;
                justify-content: center;
                background-color: #ffffff;
                z-index: 6000;
            }

            .loader-logo__img {
                
                display: block;
            }

            .transition-body {
              
                opacity: 0;
            }

            .btn--loading span:after {
              
                content: "Loading";
            }

            body {
                font-family: 'Montserrat'!important;
            }

            .btn {
                font-family: 'Montserrat'!important;
            }

            a {
                font-family: 'Montserrat'!important;
            }

            :root {
                --typeHeaderPrimary: "Montserrat";
                --typeHeaderFallback: sans-serif;
                --typeHeaderSize: 46px;
                --typeHeaderStyle: normal;
                --typeHeaderWeight: 700;
                --typeHeaderLineHeight: 1;
                --typeHeaderSpacing: -0.025em;

                --typeBasePrimary: "Montserrat";
                --typeBaseFallback: sans-serif;
                --typeBaseSize: 19px;
                --typeBaseWeight: 400;
                --typeBaseStyle: normal;
                --typeBaseSpacing: 0.025em;
                --typeBaseLineHeight: 1.6;


                --buttonRadius: 35px;


                --iconWeight: 4px;
                --iconLinecaps: miter;
            }



            .hero {
                background-image: linear-gradient(100deg, #000000 40%, #212121 63%, #000000 79%);
            }

            .placeholder-content,
            .image-wrap,
            .skrim__link,
            .pswp__img--placeholder {
                background-image: linear-gradient(100deg, #f0f0f0 40%, #e8e8e8 63%, #f0f0f0 79%);
            }




            @media screen and (max-width: 600px) {
                .DesRghtMobCen {
                    text-align: center !important;
                }
            }

            @media screen and (min-width: 600px) {
                .DesRghtMobCen {
                    text-align: right !important
                }
            }

            .ProName {
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            main a {
                color: black !important;
                text-decoration: none !important;
            }

            main a:hover {
                color: #005687 !important;
                text-decoration: none !important;
            }

            main .btn {
                display: inline-block !important;
                padding: 10px 25px !important;
                 margin: 0 !important; 
                width: auto !important;
                min-width: 90px !important;
                line-height: 1.42 !important;
                text-decoration: none !important;
                text-align: center !important;
                vertical-align: middle !important;
                white-space: normal !important;
                cursor: pointer !important;
                border: 2px solid transparent !important;
                -webkit-user-select: none !important;
                -ms-user-select: none !important;
                user-select: none !important;
                -webkit-appearance: none !important;
                -moz-appearance: none !important;
                border-radius: 22px !important;
                color: #ffffff !important;
                background: #005687 !important;
                transition: background 0.15s ease !important;
                font-weight: 500 !important;
            }

            main .btn:hover {
                background: #ff9900 !important;
                color: white !important;
            }



            .cart__row-content a:hover,
            a.cart__remove:hover {
                -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
                -webkit-mask-size: 200%;
                animation: shine 2s infinite;
            }

            @-webkit-keyframes shine {
                from {
                    -webkit-mask-position: 150%;
                }
                to {
                    -webkit-mask-position: -50%;
                }
            }

            main .cart__checkout-wrapper+.cart__checkout-wrapper {
                margin-top: 20px !important;
            }

            @media(min-width: 430px) and (max-width:500px) {
                .row {
                    padding: 0px 0px !important;
                }
            }

            #cartEmpty {
                display: none;
                text-align: center;
                margin-bottom: 20px;
            }

            @media all and (max-width: 768px) {
                #cartEmpty h1 {
                    font-size: 1.5rem !important;
                }
            }

            #cartEmpty a::before,
            #cartEmpty a::after {
                content: '🛒';
            }

            /* LOADING CSS */

            #loadingScreen {
                display: block ;
                position: fixed; 
                /* align-items: center !important; */
                width: 100%;

            }

            #MainContentShow {
                visibility: hidden;
            }


            /* =======================================================CSS FOR SPINNER=================================== */

      .hide {
        display: none !important;
        visibility: hidden !important;
        height: 0px !important;
      }

      .spinner {
        /* margin-top: 20px;   */
        margin: 10% 0;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 8px solid #fff;
        border-right: 8px solid #005687;
        border-left: 8px solid #005687;
        animation: spin 1s ease-in-out infinite alternate;
      }

      @keyframes spin {
        100% {
          transform: rotate(360deg);
        }
      }
        </style>

        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            window.onload = function () {
                if (navigator.cookieEnabled) {
                    var data = getCookies('ProductId');
                    //  
                    var x = document.getElementById('checkoutBtn');
                    if (data == '') {
                        document.getElementById('cartEmpty').style.display = "block";
                        x.style.pointerEvents = "none";
                        x.style.opacity = "0.5";
                    } else {
                        document.getElementById('cartEmpty').style.display = "none";
                        x.style.pointerEvents = "auto";
                        x.style.opacity = "1";
                    }

                    var ProductStr = data;
                    if (ProductStr != '') {
                       
                        var Product = [];
                        var count = 0;
                        if (ProductStr.includes('-')) {
                            count = (ProductStr.match(/-/g)).length;
                           
                            for (var i = 0; i <= count; i++) {
                                Product.push(ProductStr.split('-')[i]);
                            }
                        } else {
                            Product.push(ProductStr);
                        }


                       
                        var ProductIdList = [];
                        var Quantity = [];
                        for (var i = 0; i < Product.length; i++) {
                            ProductIdList.push(Product[i].split('::')[0]);
                            Quantity.push(Product[i].split('::')[1]);
                        }
                       
                       
                       
                        var ProductString = ProductIdList.join();
                        var QuantityString = Product.join();
                        passListToController(ProductString, QuantityString);
                    }
                } else {
                    alert('Please Enable Cookies!');
                }

                 document.getElementById('loadingScreen').style.display = 'block';

                document.getElementById('MainContentShow').style.visibility = 'visible';
                 document.body.style.setProperty("overflow", "auto", "important");

                 var element = document.getElementById('loadingScreen');
                 element.parentNode.removeChild(element);
            }


            function getCookies(cname) {
                console.log('getCookies');
                // var name = 'AKSHAY';
                var nameString = cname + "=";

                var value = document.cookie.split(";").filter(item => {
                    return item.includes(nameString)
                })

                if (value.length) {
                    return value[0].substring(nameString.length, value[0].length);
                } else {
                    return '';
                }                
            }

            function getProductDataDefault() {
                console.log('getProductDefault');
                var data = getCookies('ProductId');
               
                var x = document.getElementById('checkoutBtn');
                if (data == '') {
                    document.getElementById('cartEmpty').style.display = "block";
                    x.style.pointerEvents = "none";
                    x.style.opacity = "0.5";
                } else {
                    document.getElementById('cartEmpty').style.display = "none";
                    x.style.pointerEvents = "auto";
                    x.style.opacity = "1";
                }
                var ProductStr = data;
                if (ProductStr != '') {
                   
                    var Product = [];
                    var count = 0;
                    if (ProductStr.includes('-')) {
                        count = (ProductStr.match(/-/g)).length;
                       
                        for (var i = 0; i <= count; i++) {
                            Product.push(ProductStr.split('-')[i]);
                        }
                    } else {
                        Product.push(ProductStr);
                    }


                   
                    var ProductIdList = [];
                    var Quantity = [];
                    for (var i = 0; i < Product.length; i++) {
                        ProductIdList.push(Product[i].split('::')[0]);
                        Quantity.push(Product[i].split('::')[1]);
                    }
                   
                   
                   
                    var ProductString = ProductIdList.join();
                    var QuantityString = Product.join();
                    passListToController(ProductString, QuantityString);

                    $(".cart__items").removeClass('hide');
                    $("#spinner").addClass('hide');
                }
            }
            AOS.init();
        </script>
    </head>

    <body>

        <div id="loadingScreen"  >
            <c:LoaderScreen />
        </div>

        <div id="MainContentShow">

            <c:AnnouncementBar />
            <c:Header />
            <main class="main-content" id="MainContent">
                <div class="page-width page-content">
                    <div id="CartPage" class="grid">
                        <div class="grid__item">
                            <header class="section-header" data-aos="fade-right" data-aos-duration="1000">
                                <h1 class="section-header__title">
                                    Cart
                                </h1>
                            </header>
                            <!-- <form class="cart"> -->

                            <div class="cart__empty-text text-center">
                                <p>Your cart is currently empty.</p>
                                <p>
                                    <a href="/" class="btn">Continue shopping</a>
                                </p>
                            </div>
                            <!-- <apex:form styleClass="cart" id="dynamicCart"> -->
                                <div class="cart__row small--hide cart__header-labels" data-aos="fade-right" data-aos-duration="1000">
                                    <div class="grid grid--full">
                                        <div class="grid__item medium-up--one-half medium-up--push-one-half">
                                            <div class="grid grid--full">
                                                <div class="grid__item one-third"> Price </div>
                                                <div class="grid__item one-third text-center"> Quantity </div>
                                                <div class="grid__item one-third text-right"> Total </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>





                                <div class="cart__items" id="cart" data-cart-item-list="" data-aos="flip-left" data-aos-duration="1000">
                                    <apex:form styleClass="cart" id="dynamicCart">
                                    <apex:repeat value="{!ProductList}" var="Pro">

                                        <div class="cart__item cart__row" data-cart-item="" data-cart-item-id="22636301910098:5818b6230ff1f9d3dcb10e5aef37015b" aria-live="polite"
                                            style="font-family: 'Montserrat', sans-serif !important;">
                                            <div class="grid grid--full cart__row--table-large">
                                                <div class="grid__item medium-up--one-half small--three-quarters">
                                                    <div class="cart__row-product">
                                                        <div class="cart__product-image-wrap loaded">
                                                            <div class="cart__product-image lazyloaded" style="background-image:url({!IF(Pro.NSCart__Full_size_image__c != '', Pro.NSCart__Full_size_image__c,'https://naturesselectpetcare--mvclouds--c.visualforce.com/resource/1610110501000/MissingImage')});">

                                                            </div>
                                                            <!-- <noscript>
                                                            <img src="//cdn.shopify.com/s/files/1/0076/0014/4466/products/calatrava-bra-6_80x80.jpg?v=1569225869"
                                                                alt="Calatrava Bra Black - XS" /> </noscript> -->
                                                        </div>
                                                        <div class="cart__row-content" style="width: 70%">
                                                            <a href="/NaturesSelect/ProductDetailPage?id={!Pro.Id}" class="cart__product-name ProName">
                                                                <apex:outputText value="{!Pro.Name}" escape="false" /> </a>
                                                            <span class="cart__item-subtitle cart__item-subtitle--inline" data-cart-item-variant-title=""> {!Pro.NSCart__Cart_Subcategory__c} </span>
                                                            <span data-cart-item-price-container="" class="medium-up--hide">
                                                                <span class="cart__item-price">{!Pro.PricebookEntries[0].UnitPrice}</span>
                                                            </span>

                                                            <div class="cart__item-subtitle" data-cart-item-property-list="">
                                                                <div class=" ajax-cart__template" data-cart-item-property=""> t:e </div>
                                                            </div>
                                                            <div class="medium-up--hide">
                                                                <div data-cart-item-discount-list=""></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="grid__item medium-up--one-half small--one-quarter">
                                                    <div class="grid grid--full cart__row--table">

                                                        <div class="grid__item one-third small--hide">
                                                            <div id="pricee">
                                                                <div class="cart__item-price">{!Pro.PricebookEntries[0].UnitPrice}</div>
                                                            </div>
                                                            <div data-cart-item-discount-list=""></div>
                                                        </div>


                                                        <div class="grid__item medium-up--one-third text-center small--text-right">
                                                            <div>
                                                                <label for="ProQuantity" class="visually-hidden" data-cart-item-label-quantity=""> Quantity </label>
                                                                <input type="number" name="updates[]" id="{!Pro.Id}" class="cart__quantity" value="{!QuanMap[Pro.Id]}" min="1" />
                                                            </div>
                                                            <div onclick="removePro(this.id)" id="{!Pro.Id}" class="cart__remove" data-cart-item-delete="" style="cursor:pointer">Remove</div>

                                                            

                                                        </div>

                                                        <div class="grid__item one-third small--hide text-right">
                                                            <div id="subtotall">
                                                                <div class="cart__item-price" id="subTotPrice">{!Pro.PricebookEntries[0].UnitPrice}</div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </apex:repeat>

                                    <apex:actionFunction name="passProductId" action="{!removeProduct}" rerender="dynamicCart">
                                    <apex:param name="RemoveProduct" assignTo="{!RemoveProduct}" value="" />
                                </apex:actionFunction>
                                <apex:actionFunction name="passListToController" action="{!getProducts}" rerender="dynamicCart">
                                    <apex:param name="ProductIds" value="" assignTo="{!ProductIds}" />
                                    <apex:param name="QuantityIds" value="" assignTo="{!QuantityIds}" />
                                </apex:actionFunction>
                                </apex:form>                                    

                                    <div id="cartEmpty">
                                        <h1>Oh No! Your Cart Is Empty...
                                            <a href="/NaturesSelect/Shop" style="color:#1a5687!important">
                                            Let's Go Shopping! </a>
                                        </h1>
                                    </div>

                                   

                                </div>
                                <div class="row justify-content-center align-items-center hide" id="spinner">
                                    <div class="spinner"></div>
                                  </div>                                
                                <script>

                                    // //////////////////************ Remove Product Function And Add Product Quantity START///////////****************************//
                                    function removePro(Proid) {
                                        console.log('removePro');                                        
                                        $(".cart__items").addClass('hide');
                                            $("#spinner").removeClass('hide');
                                        if (navigator.cookieEnabled) {
                                           
                                            var Pro = Proid.toString();
                                           

                                            var data = getCookies('ProductId');

                                            var x = document.getElementById('checkoutBtn');
                                            if (data == '') {
                                                document.getElementById('cartEmpty').style.display = "block";
                                                x.style.pointerEvents = "none";
                                                x.style.opacity = "0.5";
                                            } else {
                                                document.getElementById('cartEmpty').style.display = "none";
                                                x.style.pointerEvents = "auto";
                                                x.style.opacity = "1";
                                            }
                                           
                                            var ProductStr = data;
                                           
                                            var Product = [];
                                            if (ProductStr.includes('-')) {
                                                var count = (ProductStr.match(/-/g)).length;
                                                for (var i = 0; i <= count; i++) {
                                                    Product.push(ProductStr.split('-')[i]);
                                                }
                                            } else {
                                                Product.push(ProductStr);
                                            }
                                            // Product.splice(-1,1);
                                            var QuantityString = Product.join();
                                            for (var i = (Product.length) - 1; i >= 0; i--) {
                                                var s = Product[i];
                                                if (s.includes(Pro)) {
                                                   
                                                    Product.splice(i, 1);
                                                }
                                            }
                                           
                                            var ckData = '';
                                            for (var i = 0; i < Product.length; i++) {
                                                if (i == (Product.length) - 1) {
                                                    ckData += Product[i];
                                                } else {
                                                    ckData += Product[i] + '-';
                                                }
                                            }
                                           
                                            //
                                            document.cookie = "ProductId = " + ckData;
                                            passProductId(Pro);
                                            setTimeout(function () {
                                                getProductDataDefault();
                                            }, 1000);                                            
                                        } else {
                                            alert('Please Enbale Cookies!');
                                        }

                                        
                                            // $(".cart__item").removeClass('hide');
                                            // $("#spinner").addClass('hide');
                                           
                                        
                                        
                                    }
                                    // window.onload = function(){
                                    // setTimeout(function () {
                                    //     $('.grid__item input').html(function () {
                                    //         UpdateQuantity(this);
                                    //     });
                                    // }, 2000);
                                    // }

                                    // setTimeout(function(){

                                    // })
                                    $('.grid__item input').change(function () {
                                        UpdateQuantity(this);
                                    });

                                    function UpdateQuantity(quantityinput) {
                                        console.log('UpdateQuantity');
                                        if (navigator.cookieEnabled) {
                                            //
                                            // calculate Line pRiec

                                            var productRow = $(quantityinput).parent().parent().parent();
                                            var price = parseFloat(productRow.children('.grid__item').children('#pricee').children('.cart__item-price').text());
                                            var quantity = $(quantityinput).val();
                                            var productId = $(quantityinput).attr("id");
                                           
                                            var linePrice = price * quantity;

                                           
                                           

                                            var data = getCookies('ProductId');
                                           
                                            var ProductStr = data;
                                           
                                            var Product = [];
                                            if (ProductStr.includes('-')) {
                                                var count = (ProductStr.match(/-/g)).length;
                                                for (var i = 0; i <= count; i++) {
                                                    Product.push(ProductStr.split('-')[i]);
                                                }
                                            } else {
                                                Product.push(ProductStr);
                                            }

                                            for (var i = 0; i < Product.length; i++) {
                                                if (Product[i].split('::')[0] == productId) {
                                                    var newval = productId + '::' + quantity;
                                                    //
                                                    ProductStr = ProductStr.replace(Product[i], newval);
                                                   
                                                }
                                            }
                                           
                                            var ProductData = [];
                                            if (ProductStr.includes('-')) {
                                                var count = (ProductStr.match(/-/g)).length;
                                                for (var i = 0; i <= count; i++) {
                                                    ProductData.push(ProductStr.split('-')[i]);
                                                }
                                            } else {
                                                ProductData.push(ProductStr);
                                            }
                                            var ckData = '';
                                            for (var i = 0; i < ProductData.length; i++) {
                                                if (i == (ProductData.length) - 1) {
                                                    ckData += ProductData[i];
                                                } else {
                                                    ckData += ProductData[i] + '-';
                                                }
                                            }
                                           
                                            //
                                            document.cookie = "ProductId = " + ckData;



                                            productRow.children('.grid__item').children('#subtotall').children('.cart__item-price').each(function () {
                                                $(this).text(linePrice.toFixed(2));
                                                recalculateCart();
                                            });
                                        } else {
                                            alert('Please Enable Cookies!');
                                        }
                                    }



                                    function recalculateCart() {
                                        console.log('recalculateCart');
                                        var subtotal = 0;

                                        // $('.cart__items').each(function(){
                                        //     subtotal += parseFloat($(this).children('.cart__item').children('.grid').children('.small--one-quarter').children('.grid').children('.cart__row--table').children('.one-third').children('#subtotall').children('.cart__item-price').text());
                                        //    
                                        //    
                                        // });


                                        $('.cart .cart__items .cart__item').each(function () {
                                            subtotal += parseFloat($(this).children('.grid').children('.small--one-quarter').children('.cart__row--table').children('.text-right').children('#subtotall').children('#subTotPrice').text());

                                           
                                        });

                                        $('#total').html(subtotal.toFixed(2));
                                    }


                                // //////////////////************ Remove Product Function And Add Product Quantity END///////////****************************//
                                </script>




                                <div class="cart__row cart__footer" data-aos="fade-left" data-aos-duration="1000" style="font-family: 'Montserrat', sans-serif !important;">
                                    <div class="grid">
                                        <div class="grid__item medium-up--one-half medium-up--text-right medium-up--push-one-half DesRghtMobCen">
                                            <div data-cart-discount-container="" class="hide">
                                                <div class="cart__discounts">
                                                    <div class="h3"> Discounts </div>
                                                    <div class="cart__note" data-cart-discount-content=""></div>
                                                </div>
                                            </div>
                                            <div class="h3 cart__subtotal" style="font-family: 'Montserrat',sans-serif !important;"> Subtotal $
                                                <span id="total">0.00</span>
                                            </div>
                                            <p class="cart__note"> Shipping, taxes, and discount codes calculated at checkout. </p>
                                            <div class="cart__checkout-wrapper">
                                                <a class="btn cart__checkout" id="checkoutBtn" href="/NaturesSelect/Checkout_Page" style="font-family: 'Montserrat';">
                                                    <span>Check out</span>
                                                </a>
                                            </div>
                                            <div class="cart__checkout-wrapper">
                                                <a href="/NaturesSelect/Shop">
                                                    Continue shopping
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- </form> -->
                            <!-- </apex:form> -->
                        </div>
                    </div>
                </div>
            </main>
            <c:FooterCmp />
        </div>
        <script>
            var disableStyle = function (styleName, disabled) {
                var styles = document.styleSheets;
                var href = "";
                for (var i = 0; i < styles.length; i++) {
                    href=styles[i];
                    href = styles[i].href.split("/");
                    href = href[href.length - 1];
                    if (href === styleName) {
                        styles[i].disabled = disabled;
                        break;
                    }
                }
            };
            disableStyle("common.css", 'true');
            disableStyle("extended.css", 'true');
        </script>
    </body>

    </html>
</apex:page>