<apex:component >
  <html>
<head>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<style type="text/css">
 .bodddy {
	 display: grid !important;
	 
	 min-height: 100% !important;
	 font-family: 'Montserrat', sans-serif !important;
	 text-transform: uppercase !important;
   margin-bottom: 15px !important;
}
@media (min-width:600px) and (max-width: 767px){
	.bodddy{
		margin-top: 50px;
	}
}

/* @media screen and (min-width:600px){
	.bodddy .container-fluid{
		height: 400px;
	}
	.bodddy .container{
		height: 400px
	}
}
@media screen and (max-width: 600px){
	.bodddy .container-fluid{
		height: 770px;
	}
	.bodddy .container{
		height: 770px;
	}
} */
 .bodddy .container-fluid {
	 position: relative !important;	 
	 overflow: hidden !important;
	 height: auto;
	 width: 93% !important;
	 
	 box-shadow: 5px 5px 15px rgba(186, 126, 126, .5) !important;
	 border-radius: 10px !important;
}
.bodddy .container {
	 position: relative !important;	 
	 overflow: hidden !important;
	 width: 520px !important;
	 /* height: 350px !important; */
	 
	 box-shadow: 5px 5px 15px rgba(186, 126, 126, .5) !important;
	 border-radius: 10px !important;
}
.bodddy .row{
  padding-bottom:20px;
}
 .bodddy p {
	 font-size: 1em !important;
	 color: #005687 !important;
	 letter-spacing: 1px !important;
   width:90% !important;
}
 .bodddy h1 {
	 font-size: 2em !important;
	 color: #005687 !important;
	 margin-top: -5px !important;
   width: 100% !important;
}
 .bodddy h2 {
	 color: #005687 !important;
	 margin-top: 5px !important;
   margin-bottom: 5px !important;
   font-size: 2.5em;
}
 .bodddy img {
	 width: 290px !important;
	 margin-top: 47px !important;
}

 .product {
	 position: relative;
	 width: 100%;
	 height: 100%;
}
 .desc {
	 text-transform: none;
	 letter-spacing: 0;
	 margin-bottom: 17px;
	 color: #005687;
	 font-size: 0.7em;
	 line-height: 1.6em;
	 margin-right: 25px;
	 text-align: justify;
   height: 400px;
   margin-top: 10px !important;
}
 .bodddy button {
	 background: #005687;
	 padding: 10px 20px;
	 display: inline-block;
	 outline: 0;
	 border: 0;
	 margin: -1px;
	 border-radius: 2px;
	 text-transform: uppercase;
	 letter-spacing: 1px;
	 color: white;
	 cursor: pointer;
   transition: all 0.4s ease-in-out;
}
 .bodddy button:hover {
	 background: #FF9900;
	 
}
 .add {
	 width: 67%;
}
 .like {
	 width: 22%;
}

 .pick {
	 margin-top: 11px;
	 margin-bottom: 0;
	 margin-left: 20px;
}


.ns{
  margin-top: 30px;
  margin-bottom: 5px;
  text-align: center;
}
@media screen and (max-width:600px){
	.ns{
		margin-bottom: 15px;
	}
}


@media screen and (min-width: 600px){
	.buttonss{
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: 5px;
	}
}


/* ====================STYLE FOR INPUT NUMBER STEPPER==================== */
.numberStepper {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  
  -webkit-appearance: none !important;
     -moz-appearance: none !important;
          appearance: none !important;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  text-rendering: optimizelegibility;
  width: 90%;
  margin-top: 10px;
}

.ctrl {
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  border-bottom: 1px solid #D5DCE6;
  background-color: #fff;
  border-radius: 5px;
  font-size: 30px;
}
.ctrl__counter {
  position: relative;
  width: 50px;
  height: 30px;
  color: #333C48;
  text-align: center;
  overflow: hidden;
}
.ctrl__counter.is-input .ctrl__counter-num {
  visability: hidden;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}
.ctrl__counter.is-input .ctrl__counter-input {
  visability: visible;
  opacity: 1;
  -webkit-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}
.ctrl__counter-input {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
  box-shadow: none;
  outline: none;
  border: none;
  color: #333C48;
  font-size: 30px;
  line-height: 100px;
  text-align: center;
  visability: hidden;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}
.ctrl__counter-num {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 30px;
  visability: visible;
  opacity: 1;
  -webkit-transition: opacity 1000ms ease-in;
  transition: opacity 1000ms ease-in;
}
.ctrl__counter-num.is-increment-hide {
  opacity: 0;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-animation: increment-prev 100ms ease-in;
          animation: increment-prev 100ms ease-in;
}
.ctrl__counter-num.is-increment-visible {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation: increment-next 100ms ease-out;
          animation: increment-next 100ms ease-out;
}
.ctrl__counter-num.is-decrement-hide {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-animation: decrement-prev 100ms ease-in;
          animation: decrement-prev 100ms ease-in;
}
.ctrl__counter-num.is-decrement-visible {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation: decrement-next 100ms ease-out;
          animation: decrement-next 100ms ease-out;
}
.ctrl__button {
  width: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: #005687;
  -webkit-transition: background-color 100ms ease-in;
  transition: background-color 100ms ease-in;
}
.ctrl__button:hover {
  background-color: #ff9900;
  -webkit-transition: background-color 100ms ease-in;
  transition: background-color 100ms ease-in;
}
.ctrl__button:active {
  background-color: #778996;
  -webkit-transition: background-color 100ms ease-in;
  transition: background-color 100ms ease-in;
}
.ctrl__button--decrement {
  border-radius: 5px 0 0 5px;
}
.ctrl__button--increment {
  border-radius: 0 5px 5px 0;
}

@-webkit-keyframes decrement-prev {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes decrement-prev {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes decrement-next {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}
@keyframes decrement-next {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}
@-webkit-keyframes increment-prev {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes increment-prev {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes increment-next {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}
@keyframes increment-next {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}


.noselect{
	-webkit-touch-callout: none !important; /* iOS Safari */
    -webkit-user-select: none !important; /* Safari */
     -khtml-user-select: none !important; /* Konqueror HTML */
       -moz-user-select: none !important; /* Old versions of Firefox */
        -ms-user-select: none !important; /* Internet Explorer/Edge */
            user-select: none !important; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


	</style>
</head>
<body>

                              <!-- <div class="bodddy">
                                <div class="container-fluid">
                                  <div class="row">
                                    <div class="col-sm">
                                      <div class="images">
                                        <img src="{!pro.NSCart__Full_size_image__c}" />
                                      </div>
                              
                              
                              
                                      <div class="ns">
                                        <p class="pick">choose quantity</p>
                              
                                        <div class="numberStepper">
                                          <div class='ctrl'>
                                            <div class='ctrl__button ctrl__button--decrement noselect'>&ndash;</div>
                                            <div class='ctrl__counter'>
                                              <input class='ctrl__counter-input' maxlength='10' type='text' value='0' />
                                              <div class='ctrl__counter-num'>0</div>
                                            </div>
                                            <div class='ctrl__button ctrl__button--increment noselect'>+</div>
                                          </div>
                                        </div>
                              
                                      </div>
                                    </div>
                              
                                    <div class="col-sm">
                                      <div class="product">
                                        <h1>{!pro.Name}</h1>
                                        <p class="desc">
                                          {!pro.Description}
                                        </p>
                                        <div class="buttonss">
                                          <button class="add">
                                            <div style="display:flex;justify-content:space-between;padding:5px 0px;">
                                              <div>Add to Cart</div>
                                              <div>$150</div>
                                            </div>
                                          </button>
                                        </div>
                              
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div> -->
<script>
		(function() {
  'use strict';

  function ctrls() {
    var _this = this;

    this.counter = 0;
    this.els = {
      decrement: document.querySelector('.ctrl__button--decrement'),
      counter: {
        container: document.querySelector('.ctrl__counter'),
        num: document.querySelector('.ctrl__counter-num'),
        input: document.querySelector('.ctrl__counter-input')
      },
      increment: document.querySelector('.ctrl__button--increment')
    };

    this.decrement = function() {
      var counter = _this.getCounter();
      var nextCounter = (_this.counter > 0) ? --counter : counter;
      _this.setCounter(nextCounter);
    };

    this.increment = function() {
      var counter = _this.getCounter();
      var nextCounter = (counter < 9999999999) ? ++counter : counter;
      _this.setCounter(nextCounter);
    };

    this.getCounter = function() {
      return _this.counter;
    };

    this.setCounter = function(nextCounter) {
      _this.counter = nextCounter;
    };

    this.debounce = function(callback) {
      setTimeout(callback, 100);
    };

    this.render = function(hideClassName, visibleClassName) {
      _this.els.counter.num.classList.add(hideClassName);

      setTimeout(function() {
        _this.els.counter.num.innerText = _this.getCounter();
        _this.els.counter.input.value = _this.getCounter();
        _this.els.counter.num.classList.add(visibleClassName);
      }, 100);

      setTimeout(function() {
        _this.els.counter.num.classList.remove(hideClassName);
        _this.els.counter.num.classList.remove(visibleClassName);
      }, 1100);
    };

    this.ready = function() {
      _this.els.decrement.addEventListener('click', function() {
        _this.debounce(function() {
          _this.decrement();
          _this.render('is-decrement-hide', 'is-decrement-visible');
        });
      });

      _this.els.increment.addEventListener('click', function() {
        _this.debounce(function() {
          _this.increment();
          _this.render('is-increment-hide', 'is-increment-visible');
        });
      });

      _this.els.counter.input.addEventListener('input', function(e) {
        var parseValue = parseInt(e.target.value);
        if (!isNaN(parseValue) && parseValue >= 0) {
          _this.setCounter(parseValue);
          _this.render();
        }
      });

      _this.els.counter.input.addEventListener('focus', function(e) {
        _this.els.counter.container.classList.add('is-input');
      });

      _this.els.counter.input.addEventListener('blur', function(e) {
        _this.els.counter.container.classList.remove('is-input');
        _this.render();
      });
    };
  };

  // init
  var controls = new ctrls();
  document.addEventListener('DOMContentLoaded', controls.ready);
})();
</script>
</body>
</html>
</apex:component>