<apex:component controller="NSCart.reOrderPromptCommunication_Controller" access="global">
<apex:attribute name="contactId" type="String" description="contactId" assignTo="{!thisId}"/>
<apex:attribute name="email" type="String" description="contact email" assignTo="{!thisEmail}"/>
       

        
        <!-- <p>
      &nbsp;</p>
    <p>
      &nbsp;</p>
    <p>
      &nbsp;</p>-->
        
        <hr />
        <p>
            <span style="font-size: 15px; font-family: verdana, geneva, sans-serif;">Your Express Order Options:</span>
        </p>
        <p><h4> • Click to Repeat your last order &nbsp;<br /><a href="{!eWrapper.siteURL+'/NSCart__reOrder?em='+URLENCODE(thisEmail)+'&contactId='+thisId+'&recontact=repeat'}"><img src="https://c.cs90.content.force.com/servlet/servlet.ImageServer?id=0151F000000EgZR&oid=00D1F0000004XDa&lastMod=1513360328000" alt="" width="185" height="60" /><br /></a>
        </h4></p>
        <p><h4> • Click to Repeat your last order and Add one of Today's Specials &nbsp;<br /><a href="{!eWrapper.siteURL+'/NSCart__reOrder?em='+URLENCODE(thisEmail)+'&contactId='+thisId+'&recontact=repeat'}"><img src="https://c.na60.content.force.com/servlet/servlet.ImageServer?id=0150c000003mBQM&oid=00D30000000pS1c&lastMod=1528235745000" alt="" width="185" height="60" /></a><a href="{!eWrapper.siteURL+'/NSCart__reOrder?em='+URLENCODE(thisEmail)+'&contactId='+thisId+'&recontact=repeat'}"><img src="https://c.na60.content.force.com/servlet/servlet.ImageServer?id=0150c000003mBQR&oid=00D30000000pS1c&lastMod=1528237225000" alt="" width="185" height="60" /><br /></a>
        </h4></p>
        <hr />
        <p><h4> • Click to Pre-Load your shopping cart <br /> <a href="{!eWrapper.siteURL+'/NSCart__cart?em='+URLENCODE(thisEmail)}"><img src="https://c.cs90.content.force.com/servlet/servlet.ImageServer?id=0151F000000EgZb&oid=00D1F0000004XDa&lastMod=1513360550000" alt="" width="185" height="60" /><br /></a>            <hr></hr> 
            <hr></hr>    
        </h4></p>
        
        <p style="margin: 0in 0in 0.0000pt;">
            <span style="font-size:15px;">
                <span style="font-family:verdana,geneva,sans-serif;">Like to add other convenient order options?</span>
            </span>
        </p>
        <h4><strong><br />• Click for the My Pet Food Mobile App<br /> <a href="http://naturalpetfoodwarehouse.com/get_app/" ><img src="https://c.cs90.content.force.com/servlet/servlet.ImageServer?id=0151F000000EgZg&oid=00D1F0000004XDa&lastMod=1513360648000" alt="" width="185" height="60" /></a><br /><br />• Click for Text Message Reorder Response<br /> <a href="http://naturalpetfoodwarehouse.com/get_textmsg/" > <img src="https://c.cs90.content.force.com/servlet/servlet.ImageServer?id=0151F000000EgZl&oid=00D1F0000004XDa&lastMod=1513360770000" alt="" width="185" height="60" /></a><br /></strong></h4>
        <p style="margin: 0in 0in 0.0001pt;">
            &nbsp;</p>
            <hr></hr>
            <hr></hr>
        <p> 
            <b><span style="font-size: 12px; font-family:verdana,geneva,sans-serif;"><span style="font-family:verdana,geneva,sans-serif;">Here are your last order details:</span></span>
        </b></p>
        <p> 
            <b><span style="font-size: 12px; font-family: verdana, geneva, sans-serif;">Last delivered on &nbsp;
                <apex:outputText value="{!eWrapper.lastDeliveryDate}">
                  </apex:outputText>
            </span></b>
        </p>
        <p>
            <b><span style="font-size: 12px; font-family: verdana, geneva, sans-serif;">You are due food on &nbsp;
                <apex:outputText value="{0,date, MM'/'dd'/'yyyy}">
                    <apex:param value="{!eWrapper.nextAvailableDeliveryDate}" /></apex:outputText>
            </span>
        </b></p>
        <p>
            <b><span style="font-size: 12px; font-family: verdana, geneva, sans-serif;">Products in your last order:</span></b>
        </p>
        <p>
            <table cellspacing="8">
                <apex:repeat value="{!eWrapper.lastOrderProducts}" var="item">
                    <tr>
                        <td align="left" style="font-size: 12px; font-family: verdana, geneva, sans-serif;">
                            <apex:outputText value="{!item}" />
                        </td>

                    </tr>
                </apex:repeat>
            </table>
        </p>
        <hr></hr>
            <hr></hr>
        <p>
            <span style="font-size: 15px;font-family:verdana,geneva,sans-serif;">Not quite ready for your next delivery - that's okay!</span>
        </p>
        
          <p><h4> • Click to Resend this reminder email in 1 week. &nbsp;<br /><a href="{!eWrapper.siteURL+'/NSCart__reOrder?em='+URLENCODE(thisEmail)+'&contactId='+thisId+'&recontact=1'}"><img src="https://c.na60.content.force.com/servlet/servlet.ImageServer?id=0150c000003dsqX&oid=00D30000000pS1c&lastMod=1519078908000" alt="" width="185" height="60" /></a>
                </h4></p>
        <hr></hr>
        <p><h4><strong>Need help with an order or have a question...  <br />... grab us anytime by Live Chat or Phone!<br /></strong></h4>
        <a href="https://quality.livechatinc.com/4152091" style="border-width: 0px; border: 0px; text-decoration: none;"><img width="135" height="60" style="border: none; width: 135px; max-width: 135px !important; height: 60px; max-height: 60px !important;" 
        src="https://c.cs90.content.force.com/servlet/servlet.ImageServer?id=0151F000000Ef0P&oid=00D1F0000004XDa&lastMod=1513127159000" />    <a href="tel: 847-852-1700" style="border-width: 0px; border: 0px; text-decoration: none;"><img width="135" height="60" style="border: none; width: 135px; max-width: 135px !important; height: 60px; max-height: 60px !important;
        " src="https://c.cs90.content.force.com/servlet/servlet.ImageServer?id=0151F000000Eg8V&oid=00D1F0000004XDa&lastMod=1513279120000" /><br /></a></a></p>Again, Thank You so much for supporting our local business.<br />We promise to take great care of you and your pet!<br /><br />
<img src="https://c.na60.content.force.com/servlet/servlet.ImageServer?id=0150c000003dWDn&oid=00D30000000pS1c&lastMod=1513618496000" alt="" width="300" height="145" /><br />
<div class="signature13">
<table border="0" cellspacing="0" cellpadding="0" width="285" style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #444444;">
<tbody>
<tr>
<td align="center" style="border-bottom: 4px solid #d3d3d3; padding: 10px;"><span style="text-transform: uppercase; text-align: right; font-size: 15px; color: #99896d; font-weight: bold;">Your Customer Care Team</span><br /> <span style="text-transform: uppercase; text-align: right; font-size: 12px; color: #635845; font-weight: bold;">Laura | Alex | Adam | Anne</span><br />
<span>Nature's Select Pet |
 Natural Pet Food Warehouse</span></td>
</tr>
<tr>
<td align="center" style="padding: 7px 15px;"><span style="color: #99896d; font-weight: bold;">Phone:</span> <a style="color: #444444; font-weight: bold; text-decoration: none;" href="tel:847-852-1700" value="+18478521700" target="_blank">847-852-1700</a> <br /> <span style="color: #99896d; font-weight: bold;">Email:</span> <a style="color: #444444; font-weight: bold; text-decoration: none;" href="orders@nschicago.com">Orders@NSChicago.com</a> <a style="color: #99896d; font-weight: bold; text-decoration: none;" href="https://nschicago.com">www.NSChicago.com</a><br /><br/></td>
</tr>
</tbody>
</table>
</div>
</apex:component>